__pycache__/game.cpython-39.pyc
__pycache__/generation_lab.cpython-39.pyc
__pycache__/ligne.cpython-39.pyc
__pycache__/mur.cpython-39.pyc
__pycache__/Resolution.cpython-39.pyc
__pycache__/game.cpython-310.pyc
__pycache__/generation_lab.cpython-310.pyc
__pycache__/ligne.cpython-310.pyc
__pycache__/mur.cpython-310.pyc
__pycache__/Resolution.cpython-310.pyc
